body {
    background-color: #bbd5ec;
    font-family:"Rubik Light Light", "Didot", "sans serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content { 
    max-width: 1600px; margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto; 
    background-color: #800000 }
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a { 
    text-align: center; 
    color: #bbd5ec; text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color:#bbd5ec; color:#031a6b;
}
.home-title {
    color:#bbd5ec;
    font-family: "Rubik Medium Medium Italic", "Didot", "sans serif";
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    background-color: #031a6b; color: #bbd5ec;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
} 
.book:hover {
    background-color: #a31621; color:#bbd5ec;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    color: #bbd5ec;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    font-family: "Rubik Light Light", "Didot", "sans serif";
    text-align: center;
    color:#ffffff;
    grid-column: 2/3;
    grid-row: 1/2;
}

.join:hover {
    background-color: #a31621; color: #bbd5ec;
} 
#background {
    background-color: #031a6b; height: 725px;
}
.msg {
    background-color:#bbd5ec ; 
    color: #031a6b;
    line-height: 1.5em;
    padding: 35px;
} 
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #031a6b
}

footer {      
    background-color: #a31621;
    color:#bbd5ec;
    padding: 25px 50px;
    margin-top: 200px;
}
h4 {
    color:#ffffff;
}
h2 {
    color:#031a6b;
}
.msg h2 {
    color: #031a6b;
    font-family: "Rubik Light Light", "Didot", "sans serif";
    text-align: center;
}
.msg p {
    color:#a31621;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: #031a6b;
}
footer a { 
    color: #a31621; text-decoration: none;
}
footer a:hover {
    background-color:#031a6b ; color: #bbd5ec;
}
.logo {
    padding-top: 5px;
    width: 200px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}









.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
footer p {
    font-size: 1.2em;
    color: #bbd5ec;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}