#content { 
    max-width: 1600px; margin: 0 auto;
}
body {
    background-color: #e19651;
    font-family:'Georgia', 'Times New Roman', serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header { background-color: white }
nav a:hover {
    background-color: #e19651; color:#031a6b;
}
.book, .join {
    background-color: #e19651; color: #031a6b;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
} 
.book:hover {
    background-color: #e19651; color:rgba(141, 4, 22, 1);
}
.join:hover {
    background-color: #e19651; color: rgba(141, 4, 22, 1);
} 
#background {
    background-color: #031a6b; height: 725px;
}
.msg {
    background-color: #e19651; 
    color: rgba(141, 4, 22, 1);
    line-height: 1.5em;
    padding: 35px;
} 
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #000000
}
footer{      
    background-color:rgba(81, 36, 37, 1);
    color:grey;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a { 
    text-align: center; color:rgba(141, 4, 22, 1); text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #e19651;color:rgba(141, 4, 22, 1);
}
.home-title{
    color:rgba(141, 4, 22, 1);
    font-family: 'Georgia','Times New Roman', serif;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color:rgba(141, 4, 22, 1);
}
.msg h2 {
    color: #031a6b;
    font-family: 'Georgia', 'Times New Roman', serif;
    text-align: center;
}
.msg p {
    color:#031a6b;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: grey;
}
footer a { 
    color: #e19651; text-decoration: none;
}
footer a:hover {
    background-color: #e19651; color: rgba(141, 4, 22, 1);
}
.logo { 
    width: 80px;
    padding-top: 5px;
} 
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
     width: 100%;
}
#hero-msg h1 {
    color: rgba(141, 4, 22, 1);
    text-align: center;

}
#hero-msg h4 {
    font-family: 'Georgia', 'Times New Roman', serif;
    text-align: center;
}
 .button-box, main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
footer p {
    font-size: 1.2em;
    color: #e19651;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}