#content { 
    max-width: 1600px; margin: 0 auto;
}
body {
    background-color: #bbd5ec;
    font-family:"Rubik Light Light", "Didot", "sans serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header { background-color: #a31621 }
nav a:hover {
    background-color:#031a6b; color:#f80000;
}
.book, .join {
    background-color: #031a6b; color: #f80000;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
} 
.book:hover {
    background-color: #031a6b; color:#f80000;
}
.join:hover {
    background-color: #bbd5ec; color: #031a6b;
} 
#background {
    background-color: #a31621; height: 725px;
}
.msg {
    background-color:#bbd5ec ; 
    color: #a31621;
    line-height: 1.5em;
    padding: 35px;
} 
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #031a6b
}
footer{      
    background-color:#f80000 ;
    color:#a31621;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a { 
    text-align: center; color: #031a6b; text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #bbd5ec;color:#a31621;
}
.home-title{
    color:#031a6b;
    font-family: "Rubik Light Light", "Didot", "sans serif";
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color:#f80000;
}
.msg h2 {
    color: #031a6b;
    font-family: "Rubik Light Light", "Didot", "sans serif";
    text-align: center;
}
.msg p {
    color:#a31621;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: #bbd5ec;
}
footer a { 
    color: #f80000; text-decoration: none;
}
footer a:hover {
    background-color:#031a6b ; color: #f80000;
}
.logo { 
    width: 80px;
    padding-top: 5px;
} 
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
     width: 100%;
}
#hero-msg h1 {
    color: #031a6b;
    text-align: center;

}
#hero-msg h4 {
    font-family: "Rubik Light Light", "Didot", "sans serif";
    text-align: center;
}
 .button-box, main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
footer p {
    font-size: 1.2em;
    color: #bbd5ec;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}