@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@300;800&family=Manrope&display=swap');
#content { 
    max-width: 1600px; 
    margin: 0 auto;
}
body {
    background-color: #fff3b0;
    font-family:"BioRhyme+Expanded:wght@300;800", "serif";
    font-size: 20px;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "BioRhyme+Expanded:wght@300;800", "serif";
    font-weight: 700;
    color:#000411;
}
p, article {
    font-family: "Manrope", "sans-serif";
    
}
header {
    background-color: #000411 ;
    display: grid;
    grid-template-columns:150px auto;    
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    padding-top: 5px;
    width: 80px;
}
nav a { 
    text-align: center; 
    color: #fff3b0; 
    text-decoration: none;
    padding: 50px;
}
nav a:hover {
    background-color:#fff3b0; 
    color:#000411;
}
#teckel {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
}
#teckel-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;   
}
#teckel img {
    width: 100%;
    opacity: 0.5;
}
.teckel-title {
    text-align: center;
    margin-top: 50px;
}
#teckel-msg {
    text-align: left;
    font-family: "BioRhyme+Expanded:wght@300;800", "serif";
    line-height: 1.5em;
    padding: 25px;
    color: #000411;
    grid-column: 1;
    grid-row: 1/2; 
    box-shadow: 5px -5px 10px #000411;
}
.main-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 5px 5px 10px #000411;
    border: 2px solid #000411;
    align-items: center;   
}
.left-side {
    width: 100%; 
    margin: 0 auto;     
}
.img1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 5px;
}
.left-side video {
    grid-column: 1/3;
    grid-row: 2/4;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    border-radius: 5px;     
}
.img2 {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 50px;
    margin-top: 130px;
    border-radius: 5px;
}
.middle {
    width: 100%;
    margin-right: 15px;
    border-radius: 5px;

}
.working-dog {
    grid-column: 2/3;
    grid-row: 1/2;
    line-height: 1.5em;
    padding: 20px;
    box-shadow: 5px 5px 10px #000411;
    margin-top: 100px;
    border-radius: 5px;
   
}
.history {
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 1.3em;
    padding: 20px;
    box-shadow: 5px 5px 10px #000411;
    margin-top: 100px;
    border-radius: 5px;
}
.watchdog {
    grid-column: 2/3;
    grid-row: 4/5;
    line-height: 1.5em;
    padding: 20px;
    box-shadow: 5px 5px 10px #000411;
    margin-top: 100px;
    border-radius: 5px;
}
.right-side {
    width: 100%; 
    margin: 0 auto;
    border-radius: 5px;
}
.family-img2 {
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 5px;
    margin-left: 75px;
    margin-top: 50px;
    border-radius: 5px;
       
}
.tail {
    grid-column: 3/4;
    grid-row: 2/4;
    margin-left: 75px;
    margin-top: 50px;
}
.right-side video {
    grid-column: 3/4;
    grid-row: 4/5;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 5px;
}
footer {       
    background-color: #000411;
    color:#fff3b0;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #000411;
}
footer a { 
    color: #fff3b0; 
    text-decoration: none;
}
footer a:hover {
    background-color: #000411; 
    color: #fff3b0;
}
footer p {
    color: #fff3b0;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
#care-card {
    display: grid;
    grid-template-columns: 3fr 2fr;
    color: #000411;
    box-shadow: 5px 5px 10px ; 
}
#care-card img {
    grid-area: 2/4/2/5;
    width: 99%;
    border: 5px solid #000411;
    border-radius: 5px;
    margin: 0 auto;
}
#care-card h1 { 
    grid-area: 1/3/1/1; 
    text-align: center;
    text-decoration: underline #000411;
    padding: 28px;      
}
#care-card h2 {
    grid-area: 3/6/1/1;
    text-align: center;
    text-decoration: underline #000411;
    padding:20px;
    margin: 35px auto;
    border-left:5px solid #000411;
    
}
#care-card article {
    grid-area:3/6/2/5;
    text-align: left;
    line-height:1.4em;
    padding: 20px;
    box-shadow: 5px 5px 10px #000411;
    align-items: center;     
}
#care-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid #000411;
    /*margin: 50px;*/
}
.grid-left img {
   width: 99%;
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
}

.lists {
    box-sizing: content-box;
    align-items: center;
    text-align: left;
    padding: 10px;
    border: 5px solid #bc6c25;
    margin: 20px;     
}
.lists h2 {
    text-align: center;
    text-decoration: underline;
}
.crate {
    width: 97%;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;   
}
.winnie {
    width: 97%;
    padding: 5px;
    margin-top: 40px;
    border-radius: 5px;    
}
.stairs {
    width: 97%;
    padding: 5px;
    margin-top: 50px;
    border-radius: 5px;
}
#crafts-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#crafts-grid .title {
    text-align: center;
    background-color: #fff3b0; 
    color: #000411;
    line-height: 2em;
    padding: 30px;
    box-shadow: 5px 5px 10px #000411;
    border-radius: 5px;
}
#crafts-grid img {
    grid-column: 1/3;
    grid-row: 2/4;
    max-width: 60%;
    border-radius: 5px;
  
    
}


  


@media screen and (max-width: 900px) {
    #teckel,.main-grid, #care-card,#care-grid{
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #care-card {
        width: 99%;
        padding-right: 5px;
        margin: 0 auto;
    }
    #care-card h2 {
        border-left:#fff3b0;
    }
    .lists {
        font-size: 1em;
    }
    .grid-left img {
        width: 96%;
        margin: 0 auto;
    }
    footer {
        padding: 10px;
    }
}