body {
    background-color: rgb(238, 245, 203);
    font-family:"Roboto+Slab", "serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid1 {
    display:grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
}
.grid1 h1 {
    font-size: 20pt bold;
}
